{% extends 'base.html' %}



{% block content%}
    <h2>Enter a URL</h2>

    <p>Enter a URL from a Toyota dealer's website for a part.  The format of the url will look something like this: <br>
      <br>
       <em> <a href="https://parts.sftoyota.com/p/Toyota__Tacoma/TRD-Cat-Back-Exhaust/69527109/PT91089061.html">https://parts.sftoyota.com/p/Toyota__Tacoma/TRD-Cat-Back-Exhaust/69527109/PT91089061.html</a>  </em> </p>


       <p>Here's an example link to the Tacoma long bed mat: <br>
         <br>
          <em> <a href="https://parts.sftoyota.com/p/69525697/PT58035050LB.html">https://parts.sftoyota.com/p/69525697/PT58035050LB.html</a>  </em> </p>

          <p>Here's an example link to the Tacoma short bed mat: <br>
            <br>
             <em> <a href="https://parts.sftoyota.com/p/69525698/PT58035050sb.html">https://parts.sftoyota.com/p/69525698/PT58035050sb.html</a>  </em> </p>

    <form class="" action="get_prices" method="get">
      Enter the URL here: <input type="url" name="parturl" value="">

      <input type="submit" name="" value="Submit">
    </form>




    {% csrf_token %}
    </form>

    <br>
    <p> <strong>It may take up to 5 minutes to return the results. Please be patient!</strong> </p>



{% endblock content %}
