{% extends 'base.html' %}



{% block content%}
    <h2>Enter a URL</h2>

    <p>Enter a URL from a Toyota dealer's website for a part.  The format of the url will look something like this: <br>
      <br>
       <em> https://parts.sftoyota.com/p/Toyota__Tacoma/TRD-Cat-Back-Exhaust/69527109/PT91089061.html </em> </p>

    <form class="" action="get_prices" method="get">
      Enter the URL here: <input type="url" name="parturl" value="">

      <input type="submit" name="" value="Submit">
    </form>




    {% csrf_token %}
    </form>





{% endblock content %}
